*{margin: 0;padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color:rgba(184, 184, 184, 0.589) !important;
}
.bgimg1{
/* background-image: url(./img/m1.jpg) ; */
background-size: cover;
width: 100%;
height: 100vh;
clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
animation-name: bg-animation;
animation-duration: 30s;
animation-iteration-count: infinite;
}
@keyframes bg-animation{
    0%{background-image: url(./img/m1.jpg);}
    20%{background-image: url(./img/m12.jpg);}
    40%{background-image: url(./img/m13.jpg);}
    60%{background-image: url(./img/m14.jpg);}
    80%{background-image: url(./img/m15.jpg);}
    100%{background-image: url(./img/m1.jpg);}
}
.logo{
    width: 250px;
    position: relative;
    left: 50%;
    top: 200px;
    transform: translateX(-125px);
}
.bgimg1 p:nth-child(2){
    font-size: 50px;
    width: 600px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 200px;
}
.bgimg1 p:nth-child(3){
    font-size: 20px;
    width: 800px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 200px;
}
.stick span{
    font-size: 100px;
    position: absolute;
    left: 49%;
    top:90%;
    z-index: 2;
}
.stick p{
font-size: 30px;
text-align: center;
margin-top: 50px;
}
/*  */
.bgimg2{
    background-image: url(./img/m2.jpg);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: bottom;
    position: relative;
}
.logo2{
    width: 250px;
    position: relative;
    left: 50%;
    top: 200px;
    transform: translateX(-125px);
}
.bgimg2 p:nth-child(2){
    font-size: 50px;
    width: 600px;
    margin: auto;
    text-align: center;
    color: aliceblue;
    position: relative;
    z-index: 2;
    top: 200px;
}
.bgimg2 p:nth-child(3){
    font-size: 18px;
    width: 1100px;
    margin: auto;
    text-align: center;
    color: aliceblue;
    position: relative;
    top: 200px;
    z-index: 2;
}
/*  */
.section2::before{
    background: url(./img/cloud.png);
    background-position: center;
    background-size: 800px;
    content: '';
    position: absolute;top: 0;left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}
.section2{
    clip-path: polygon(0 0, 100% 30%, 100% 80%, 0% 100%);
    width: 100%;
    height: 150vh;
    position: relative;
    top: -200px;
}
/*  */
.cards{
   position: relative;
   top: 250px;
   display: flex;
   justify-content: center;
}
 .mid{
    position: relative;
    top: 100px;
}
/*  */
.bgimg3{
    background-image: url(./img/m6.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    top: -200px;
}
.bgimg3-img{
    width: 300px;
}
/*  */
.members{
    display: flex;
    justify-content: center;
}
.img-card {
    height: 250px !important;
    margin: 20px;
    transform: translateY(-100px);
}
.bgimg3-text{
    width: 1100px;
    color: aliceblue;
    background-color: rgba(59, 72, 83, 0.532);
    margin: auto;
    padding: 50px;
}.bgimg3 p:first-child{
    font-size: 50px;
    width: 600px;
    margin: auto;
    text-align: center;
    color: aliceblue;
}
.bgimg3 p:nth-child(2){
    font-size: 18px;
}
/*  */
.nature{
    position: relative;
    top: 180px;
    display: flex;
    justify-content: center;
    z-index: 2;
}
.nature .card img{
height: 300px;


}
/*  */
.contact{
    background-image: url(./img/m11.jpg);
    background-size: cover;
    width: 100%;
    height: 130vh;
    position: relative;
    top: -200px;
    padding-top: 400px;
}
.contact .dash{
    font-size: 100px;
    color: aliceblue;
    display: block;
    text-align: center;
    z-index: 2;
    margin: 0;padding: 0;
}
.contact-text1{
    font-size: 50px;
    color: aliceblue;
    text-align: center;
    
}
.contact-text2{
    font-size:20px;
    color: aliceblue;
    text-align: center;
    font-style: italic;
}
footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    height: 50px;
    position: relative;
}
footer p{
    margin: 0;
    font-size: 20px;
}
.absolut{
    position:absolute ;
    bottom: -200px;
    width: 100%;
    height: 200px;
}
.absolut span{
    cursor: pointer;
}
.absolut span:hover{
    border-bottom: 1px solid white;
}

@media screen and (max-width: 768px) {

    .bgimg1 p:nth-child(3) {
        font-size: 20px;
        width: 700px;
        margin: auto;
        text-align: center;
    }
    .contact-text2 {
        font-size: 18px;
    }
    .img-card {
        height: 90px !important;
        margin: 20px;
        transform: translateY(-100px);
    }
}

@media screen and (min-width: 768px) and (max-width: 1400px)  {

    .logo{
        top: 100px;
    }
    .bgimg1 p:nth-child(2){
        top: 100px;
    }
    .bgimg1 p:nth-child(3){
        top: 100px;
    }
    .bgimg3-text {
        width: 90%;
    }
    .bgimg2 p:nth-child(3) {
        width: 90%;
    }
    .contact .dash {
        font-size: 20px;
    }
    .logo2 {
        top: 100px;
    }
    .bgimg2 p:nth-child(2) {
        top: 100px;
    }
    .bgimg2 p:nth-child(3) {
        top: 100px;
    }
    .bgimg2 {
        height: 105vh;
    }
    .cards {
        top: 206px;
    }

}


@media screen and (max-width: 350px) {
    .logo{
        top: 50px;
    }
    .bgimg1 p:nth-child(2){
        top: 50px;
    }
    .bgimg1 p:nth-child(3){
        top: 50px;
    }
.bgimg1 p:nth-child(2) {
    font-size: 30px;
    width: 305px;
}
.bgimg1 p:nth-child(3) {
    width: 305px;
}
.stick span {
    left: 45%;
    top: 85%;
}
.logo2 {
    top: 20px;
}
.bgimg2 p:nth-child(2) {
    font-size: 30px;
    width: 305px;
    top: 20px;
}
.bgimg2 p:nth-child(3) {
    font-size: 15px;
    width: 305px;
    top: 20px;
}
.bgimg2 {
    height: 96vh;
    z-index: 2;
}
.cards {
    top: 240px;
    flex-direction: column;
    align-items: center;
}
.bgimg3 p:first-child {
    font-size: 30px;
    width: 304px;
    margin: auto;
    text-align: center;
    color: aliceblue;
}
.bgimg3-text {
    width: 315px;
    text-align: justify;
    padding: 5px;
}
.nature {
    top: 30px;
    flex-direction: column;
    display: none;
}
.contact .dash {
    font-size: 0;
}
.contact {
    height: 136vh;
    padding-top: 0;
}
.absolut {
    bottom: -65px;
}
footer p {
    font-size: 18px;
}
.img-card {
    height: 330px !important;
    margin: 5px;
    transform: translateY(-2px);
}
.section2{
    top: -150px;
    height: 156vh;
}
.section2 img{
    width: 150px !important;
    height: 237px !important;
}
.cards {
    top: 0px;
}
.card-text{
    font-size: 14px;
}
.hide{
    display: none;
}
.bgimg3-text {
    position: relative;
    top: -230px;
}
}
